.container {
  font-family: Arial, sans-serif;
  background-color: #E0E0E0;
  padding: 0px;
  min-height: 1500px;
}

h1{
  font-family: "Bahnschrift";
  text-align: right;
}

header h1{
  padding: 0px 100px;
  margin: 200px auto;
  text-align: left;
  font-size: 350%;
  font-family: "Segoe UI Semilight";
  color: #000;
}

a {
  font-family: "Bahnschrift";
  font-weight: bold;
  text-align: right;
}

.contact-container {
  margin: 100px auto;
}

.vertical-infobox-container{
  justify-content: space-between;
  min-height: 500px;
  max-width: 2000px;
  display: flex;
  margin: 0px auto;
  flex-direction: column;
}

.menu {
  list-style-type: none;
  display: flex;
  gap: 40px;
}

.menu li {
  cursor: pointer;
  transition: color 0.2s;
}

.menu li:hover {
  color: #0077cc;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin: 0px;
  background-color: white;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
  /* Makes Shadow Cover BG */
  position: relative;
  z-index: 12;
}

.contact {
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
}

.logo {
  width: 150px;
}

footer {
  font-size: 10px;
}



